.stat {
  width: 100%;

  canvas {
    margin-top: 20px;
    padding: 0 40px;
    height: 700px !important;
  }

  &_title {
    margin-top: 20px;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 13px 15px;
      border-radius: 15px;
      border: 0;
      border: 0.5px solid #E4E4E4;
      background-color: white;
      cursor: pointer;
      font-weight: 600;
      color: #9C9C9C;
      font-size: 15px;

      &:first-child {
        background-color: white;
        border: 0.5px solid #E9E9E9;
      }

      &:last-child {
        color: #21AB82;
        background: #F4FFF9;
        border: 0.5px solid #21AB82;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      color: black;
    }
  }

  &_btns {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0 25px;

    margin-top: 20px;

    button {
      flex: 1;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #15624B;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      color: #15624B;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.3s ease;

      &:hover {
        background-color: #15624B;
        color: #fff;
      }
    }
  }
}
